@font-face {
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 700;
  src: url(s/balsamiqsans/v14/P5sZzZiAbNrN8SB3lQQX7PncyWUyBY8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
